html{
    background-color: #6EBDC7;
    height: 100%;
    margin: 0;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    margin: 0;
}
main {
  transition: margin-right 0.3s;
  height: 100%;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #E4B969;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 10000;
}
  

.sidenav a:hover {
  color: #AE2456;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  font-size: 36px;
  margin-right: 70px;
}

#form-on-map {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    z-index: 10000;
}

  
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #6E2242;
  display: block;
  transition: 0.3s;
}

.menu-btn {
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 9999;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}