html{
  background-color: #6EBDC7;
  height: 100%;
  margin: 0;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  margin: 0;
}
main {
  transition: margin-right 0.3s;
  height: 100%;
}
header{
  background-color: #6E2242;
  padding: 0.4em;

}
header *{
  color: #E4B969;
}
header p{
  font-size: 1.4em;
}
#logo{
  position: fixed;
  top: 60%;
  z-index: 9999;
}

.sidenav {
  height: 100%; 
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #E4B969;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 10000;
}
  

.sidenav a:hover {
  color: #AE2456;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  font-size: 36px;
  margin-right: 70px;
}

  
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #6E2242;
  display: block;
  transition: 0.3s;
}

.menu-btn {
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  right: 20px;
  top: 10px;
  z-index: 9999;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 600px) {
  #logo{
    width: 20px;
  }
}