html{
    background-color: #6EBDC7;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav {
  float: right;
}

.dropbtn {
    background-color: #E4B969;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    float: right;
}
  

.dropbtn:hover, .dropbtn:focus {
    background-color: #E4B969;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #E4B969;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}