{%extends "base.html"%}

{% block main_content %}
<main>
    <h1>Edit Event</h1>
    <form action="" method="POST" novalidate>
        {{ form.title.label }}
        {{ form.title() }}
        <br/>

        {{ form.venue.label }}
        {{ form.venue() }}
        <br/>
        
        {{ form.datetime_start.label }}
        {{ form.datetime_start() }}
        <br/>
        
        {{ form.datetime_end.label }}
        {{ form.datetime_end() }}
        <br/>

        {{ form.latitude.label }}
        {{ form.latitude() }}
        <br/>
        
        {{ form.longitude.label }}
        {{ form.longitude() }}
        <br/>
        
        {{ form.description.label }}
        {{ form.description() }}
        <br/>

        
        {% if form.form_errors %}
            <ul class="error-list">
            {% for error in form.form_errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        
        {{ form.submit() }}
    </form>
</main>
{%endblock%}