{% extends "base.html" %}

{% block main_content %}

<main id="main">
    <header>
        <h1>Edit Group Details</h1>
    </header>
    <form action="" method="POST" novalidate>

        <p>{{ form.group_name.label }}</p>
        {{ form.group_name() }}
        <br/>

        <p>{{ form.group_desc.label }}</p>
        {{ form.group_desc() }}
        <br/>
        
        <p>{{ form.is_public.label }}</p>
        {{ form.is_public() }}
        <br/>
        
        {% if form.form_errors %}
            <ul class="error-list">
                {% for error in form.form_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
        <p>{{ form.submit() }}</p>
    </form>
</main>

{% endblock %}