{%extends "base.html"%}

{% block main_content %}
<main>
    <div id="map"></div>
        {% if display_map|default(false) %}
            <script type="text/javascript">
                var x = {{ x|default(53.347878221572344)|tojson }};
                var y = {{ y|default(-6.275954663866795)|tojson }};
            </script>
            <script type="text/javascript" src="{{ url_for('static', path='/js/map.js') }}"></script>
        {% endif %}
    <script type="text/javascript" src="{{ url_for('static', path='/js/create_event_map.js') }}"></script>
    <div id="form-on-map">
        <h1>Event Details</h1>
        <form action="" onsubmit="setLocation()" method="POST" novalidate>
            {{ form.title.label }}
            {{ form.title() }}
            <br/>

            {{ form.venue.label }}
            {{ form.venue() }}
            <br/>
            
            {{ form.datetime_start.label }}
            {{ form.datetime_start() }}
            <br/>
            
            {{ form.datetime_end.label }}
            {{ form.datetime_end() }}
            <br/>

            {{ form.latitude.label }}
            {{ form.latitude(readOnly=true) }}
            <br/>
            
            {{ form.longitude.label }}
            {{ form.longitude(readOnly=true) }}
            <br/>
            
            {{ form.description.label }}
            {{ form.description() }}
            <br/>
            
            {{ form.is_public.label }}
            {{ form.is_public() }}
            
            {% if form.form_errors %}
                <ul class="error-list">
                {% for error in form.form_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            
            {{ form.submit() }}
        </form>
    </div>
</main>
{%endblock%}