{% extends "base.html" %}

{% block main_content %}

<main>
    <header>
        <h1>Login</h1>
    </header>
    <form action="" method="POST" novalidate>

        <p>{{ form.username.label }}</p>
        {{ form.username() }}
        <br/>

        <p>{{ form.password.label }}</p>
        {{ form.password() }}
        <br/>
        <br/>
        
       <p>{{ form.submit() }}</p> 
        
        {% if form.form_errors %}
            <ul class="error-list">
                {% for error in form.form_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </form>
</main>

{% endblock %}