{% extends "base.html" %}

{% block main_content %}

<main>
    <header>
        <h1>Register</h1>
    </header>
    <form action="" method="POST" novalidate>

        <p>{{ form.username.label }}</p>
        {{ form.username() }}
        <br/>

        <p>{{ form.password.label }}</p>
        {{ form.password() }}
        <br/>
        
        <p>{{ form.email.label }}</p>
        {{ form.email() }}
        <br/>
        
        <p>{{ form.phone_number.label }}</p>
        {{ form.phone_number() }}
        <br/>
        <br/>
        
        {% if form.form_errors %}
            <ul class="error-list">
                {% for error in form.form_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
        <p>{{ form.submit() }}</p>
    </form>
</main>

{% endblock %}