{% extends "base.html" %}

{% block main_content %}

<main>
    <form action="" method="POST" novalidate>

        {{ form.username.label }}
        {{ form.username() }}
        <br/>

        {{ form.password.label }}
        {{ form.password() }}
        <br/>
        
        {{ form.email.label }}
        {{ form.email() }}
        <br/>
        
        {{ form.phone_number.label }}
        {{ form.phone_number() }}
        <br/>
        
        {% if form.form_errors %}
            <ul class="error-list">
                {% for error in form.form_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
        {{ form.submit() }}
    </form>
</main>

{% endblock %}