<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GoClub</title>
  <link rel="stylesheet" href="/static/css/goclub.css" />
  {% if display_map|default(false) %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  <style>
    #map {
      width: 100%;
      height: 100vh;
    }
  </style>
  {% endif %}
</head>

<body>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/home">Map</a>
    <a href="/login">Login</a>
    <a href="/logout">Log Out</a>
    <a href="/events">Events</a>
    <a href="/community">Community</a>
    <a href="/groups">Groups</a>
    <a href="/profile">My Profile</a>
    <a href="/circle">My Circle</a>
  </div>
  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      document.getElementById("main").style.marginRight = "250px";
      document.getElementById("menuBtn").style.display = "none";
    }
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main").style.marginRight = "0";
      document.getElementById("menuBtn").style.display = "block";
    }
  </script>
  <span id="menuBtn" class="menu-btn" onclick="openNav()">&#9776;</span> 
  {% block main_content %}
  {% endblock %}
</body>

</html>