{% extends "base.html" %}

{% block main_content %}

<main>
    <header>
        <h1>Your circle</h1>
    </header>
    <h2>My Circle</h2>
    {% for user in circle %}
    <p>{{ user }}</p>
    <a href="/circle/remove_from_circle/{{ user }}">Remove</a>

    {% endfor %}
    {% if friend not in circle %}
        <h3>Friends not in circle</h3>
        {% for friend in friends %}
            <p>{{ friend }}</p>
                {% if friend not in invitations_sent %}
                    <a href="/circle/invite_to_circle/{{ friend }}">Invite</a>
                {% else %}
                    <p>Invitation Sent</p>
                {% endif %}
        {% endfor %}
    {% endif %}
    <table>
        <tr>
            <th colspan="3">Pending Invites</th>
        </tr>
        {% for user in pending_invites %}
            <tr>
                <td>{{ user }}</td>
                <td> <a href="/circle/accept/{{ user }}">Accept</a></td>
                <td><a href="/circle/decline/{{ user }}">Decline</a></td>
            </tr>
        {% endfor %}
    </table>
</main>

{% endblock %}