{% extends "base.html" %}

{% block main_content %}

<main id="main">
    <header>
        <h1>Logged in as</h1>
        <p>{{ authorized_user }}</p>
    </header>
    <section class="status">
        <div class="division">
            <h2>Your Community</h2>
            <h3>Follow requests</h3>
            <ul>
                {% for user in follow_requests_received %}
                <li>
                    {{ user }}
                    <a href="/accept_follow/{{ user }}">Accept</a>
                </li>
                {% endfor %}
            </ul>
            <h3>Friends</h3>
            <ul>
                {% for friend in friends_list %}
                <li>
                    {{ friend }}
                </li>
                {% endfor %}
            </ul>
            <h3>Your pending requests</h3>
            <ul>
                {% for user in follow_requests_sent %}
                <li>
                    {{ user }}
                    <a href="/withdraw/{{ user }}">Withdraw</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="division">
            <h2>Users</h2>
            <form action="" method="POST" novalidate>
                <h3>Search</h3>
                {{ form.user() }}<div id="community-submit">{{ form.submit() }}</div>
            </form>
            {% if all_users %}
            <p>Results</p>
            <ul>
                {% for user in all_users %}
                <li>
                    {{ user }}
                    {% if user in follow_requests_sent %}
                    <span>Requested</span>
                    {% endif %}
                    {% if user in friends_list %}
                    <span>Friend</span>
                    {% endif %}
                    {% if user in follow_requests_received %}
                    <a href="/accept_follow/{{ user }}">Accept</a>
                    {% endif %}
                    {% if user not in friends_list and user not in follow_requests_sent and user != authorized_user
                    %}
                    <a href="/follow/{{ user }}">Follow</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </section>
</main>

{% endblock %}