{% extends "base.html" %}

{% block main_content %}

<main>
    <p>
        {{ user }} <br>
        <!-- Adding stuff to test the database -->
        <p>Follow requests</p>
        <ul>
            {% for req in user_flwr_reqs %}
                <li>{{ req }}</li>
            {% endfor %}
        </ul>
        
        <p>Friends</p>
        <ul>
            {% for friend in friends %}
                <li>{{ friend }}</li>
            {% endfor %}
        </ul>
        
        <p>Your pending requests</p>
        <ul>
            {% for req in user_flw_reqs %}
                <li>{{ req }}</li>
            {% endfor %}
        </ul>
    </p>
</main>

{% endblock %}