{% extends "base.html" %}

{% block main_content %}

<main id="main">
    <header>
        <h1>Event Information</h1>
    </header>
    <h2>{{ event_title }}</h2>
    <section class="status">
        <div class="division">
            <h3>Event Host</h3>
            <p>{{ event_host }}</p>
            <h3>Event Start Time</h3>
            <p>{{ event_start_time }}</p>
            <h3>Event End Time</h3>
            <p>{{ event_end_time }}</p>
            <h3>Event Description</h3>
            <p>{{ event_description }}</p>
            {% if event_public|default(false) %}
                <p>This event is public.</p>
            {% else %}
                <p>This event is private.</p>
            {% endif %}
        </div>
        <div class="division">
            {% if is_host|default(false) %}
                <h3>My Groups</h3>
                <ul class="list-scroll-bar">
                    {% for group in my_groups %}
                        <li>{{ group.group_name }} - <a href="/events/invite_group/{{ event_id }}/{{ group.group_id }}">Invite</a></li>
                    {% endfor %}
                </ul>

                <h3>Attendees</h3>
                <ul class="list-scroll-bar">
                    {% for attendee in attendees %}
                        <li><a href="/profile/{{ attendee }}">{{ attendee }}</a></li>
                    {% endfor %}
                </ul>

                <h3>Pending Requests</h3>
                <ul class="list-scroll-bar">
                    {% for request in pending_requests %}
                        {% if request["username"] != authorized_user %}
                        <li><a href="/profile/{{ request }}">{{ request["username"] }}</a> - <a href="/events/accept/{{ event_id }}/{{ request['username'] }}">Approve</a> | <a href="/events/decline/{{ event_id }}/{{ request['username'] }}">Decline</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <h3>Actions</h3>
                <a href="/events/cancel/{{ event_id }}">Cancel Event</a>
                <a href="/events/edit/{{ event_id }}">Edit Event</a>
                <a href="/events/invitecircle/{{ event_id }}">Invite your Circle</a>
                <a href="/events/inviteallfriends/{{ event_id }}">Invite all Friends</a>
            {% else %}

                {% if is_invited|default(false) %}
                <p>You are invited to this event.</p>
                <a href="/events/attend/{{ event_id }}">Accept Invitation</a>
                <a href="/events/decline/{{ event_id }}">Decline Invitation</a>
                {% endif %}

                {% if is_requested|default(false) %}
                <p>Your request to attend this event is pending approval.</p>
                <a href="/events/decline/{{ event_id }}">Withdraw Request</a>
                {% endif %}

                {% if is_attending|default(false) %}
                <p>You are attending this event.</p>
                <a href="/events/decline/{{ event_id }}">Leave Event</a>

                {% if event_public|default(false) %}
                    <a href="/events/invitecircle/{{ event_id }}">Invite your Circle</a>
                    <a href="/events/inviteallfriends/{{ event_id }}">Invite all Friends</a>
                    
                    <h3>My Groups</h3>
                    <ul class="list-scroll-bar">
                        {% for group in my_groups %}
                            <li>{{ group.group_name }} - <a href="/events/invite_group/{{ event_id }}/{{ group.group_id }}">Invite</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% endif %}
                
                {% if not is_attending|default(false) and not is_requested|default(false) and not is_invited|default(false) %}
                        {% if event_public|default(false) %}
                            <a href="/events/attend/{{ event_id }}">Attend</a>
                        {% else %}
                            <p>You are not attending this event.</p>
                            <a href="/events/request/{{ event_id }}">Request to Attend</a>
                        {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </section>
</main>

{% endblock %}