{% extends "base.html" %}

{% block main_content %}

<main>
    {% if user_is_host|default(false) %}
        <a href="/events/edit/{{ event_id }}">Edit Event</a>
        <a href="/events/cancel/{{ event_id }}">Cancel Event</a>
    {% endif %}
    <p>Event Title: {{ event_title }}</p>
    <p>Event Venue: {{ event_venue }}</p>
    <p>Event Host: {{ event_host }}</p>
    <p>Event Latitude: {{ event_latitude }}</p>
    <p>Event Longitude: {{ event_longitude }}</p>
    <p>Event Start Time: {{ event_start_time }}</p>
    <p>Event End Time: {{ event_end_time }}</p>
    <p>Event Description: {{ event_description }}</p>
    

    {% if is_user_attending|default(false) %}
        <p>You are attending this event.</p>
        <a href="/events/decline/{{ event_id }}">Unattend Event</a>
        {% if is_user_host|default(false) or event_is_public|default(false) %}
            <a href="/events/invite_circle/{{ event_id }}/">Invite Circle</a>
        {% endif %}
    {% else %}
        {% if is_user_invited_pending|default(false) %}
            <a href="/events/decline/{{ event_id }}">Decline Invitation</a>
            <a href="/events/attend/{{ event_id }}">Accept Invitation</a>
        {% endif %}
    {% endif %}

</main>

{% endblock %}