{% extends "base.html" %}

{% block main_content %}

<main id="main">
    {% if is_user_host|default(false) %}
        <a href="/events/edit/{{ event_id }}">Edit Event</a>
        <a href="/events/cancel/{{ event_id }}">Cancel Event</a>
        <a href="/events/invitecircle/{{ event_id }}/">Invite Circle</a>
    {% endif %}
    <header>
        <h1>Event Information</h1>
    </header>
    <h2>{{ event_title }}</h2>
    <section class="status">
        <div class="division">
            <p>Event Host: {{ event_host }}</p>
            <p>Event Start Time: {{ event_start_time }}</p>
            <p>Event End Time: {{ event_end_time }}</p>
            <p>Event Description: {{ event_description }}</p>
            {% if event_public|default(false) %}
                <p>This event is public.</p>
            {% else %}
                <p>This event is private.</p>
            {% endif %}
        </div>
        <div class="division">
            {% if is_host|default(false) %}
                <a href="/events/cancel/{{ event_id }}">Cancel Event</a>
                <a href="/events/edit/{{ event_id }}">Edit Event</a>
                <br>
                <a href="/events/invitecircle/{{ event_id }}">Invite your Circle</a>
                <a href="/events/inviteallfriends/{{ event_id }}">Invite all Friends</a>
                
                <p>My Groups</p>
                <ul class="list-scroll-bar">
                    {% for group in my_groups %}
                        <li>{{ group.group_name }} - <a href="/events/invite_group/{{ event_id }}/{{ group.group_id }}">Invite</a></li>
                    {% endfor %}
                </ul>

                <p>Attendees:</p>
                <ul class="list-scroll-bar">
                    {% for attendee in attendees %}
                        <li><a href="/profile/{{ attendee }}">{{ attendee }}</a></li>
                    {% endfor %}
                </ul>

                <p>Pending Requests:</p>
                <ul class="list-scroll-bar">
                    {% for request in pending_requests %}
                        <li><a href="/profile/{{ request }}">{{ request["username"] }}</a> - <a href="/events/accept/{{ event_id }}/{{ request['username'] }}">Approve</a> | <a href="/events/decline/{{ event_id }}/{{ request['username'] }}">Decline</a></li>
                    {% endfor %}
                </ul>

            {% else %}

                {% if is_invited|default(false) %}
                <p>You are invited to this event.</p>
                <a href="/events/attend/{{ event_id }}">Accept Invitation</a>
                <a href="/events/decline/{{ event_id }}">Decline Invitation</a>
                {% endif %}

                {% if is_requested|default(false) %}
                <p>Your request to attend this event is pending approval.</p>
                <a href="/events/decline/{{ event_id }}">Withdraw Request</a>
                {% endif %}

                {% if is_attending|default(false) %}
                <p>You are attending this event.</p>
                <a href="/events/decline/{{ event_id }}">Leave Event</a>

                    {% if event_public|default(false) %}
                        <a href="/events/invitecircle/{{ event_id }}">Invite your Circle</a>
                        <a href="/events/inviteallfriends/{{ event_id }}">Invite all Friends</a>
                        
                        <p>My Groups</p>
                        <ul class="list-scroll-bar">
                            {% for group in my_groups %}
                                <li>{{ group.group_name }} - <a href="/events/invite_group/{{ event_id }}/{{ group.group_id }}">Invite</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                {% endif %}
                
                {% if not is_attending|default(false) and not is_requested|default(false) and not is_invited|default(false) %}
                <p>You are not attending this event.</p>
                <a href="/events/request/{{ event_id }}">Request to Attend</a>
                {% endif %}
            {% endif %}
        </div>
    </section>
</main>

{% endblock %}