{% extends "base.html" %}

{% block main_content %}

<main>
    <h2>{{ group["group_name"] }}</h2>
    <p>{{ group["group_desc"] }}</p>
    <p>Group Owner: {{ group["owner"] }}</p>
    <p>Members</p>
    <ul>
        {% for member in group_members %}
            {% if authorized_user == group["owner"] %}
                {% if member != authorized_user %}
                    <li><a href="/profile/{{ member }}">{{ member }}</a> - <a href="/groups/remove/{{ group['id'] }}/{{ member }}">Remove from Group</a></li>
                {% else %}
                    <li><a href="/profile/{{ member }}">{{ member }}</a></li>
                {% endif %}
            {% else %}
                <li><a href="/profile/{{ member }}">{{ member }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    
    {% if authorized_user in group_members %}
        {% if authorized_user == group["owner"] %}
            <a href="/groups/delete/{{ group['id'] }}">Delete Group</a>
        {% else %}
            <p><a href="/groups/leave/{{ group['id'] }}">Leave Group</a></p>
        {% endif %}
    {% endif %}

    {% if authorized_user == group["owner"] %}
        <a href="/groups/edit/{{ group['id'] }}">Edit Group Details</a>
        <p>Friends not in group</p>
        <ul>
            {% for friend in friends_list %}
                {% if friend not in group_members %}
                    <li>
                        {{ friend }} 
                        {% if friend not in invitees %}
                            - <a href="/groups/invite/{{ friend }}/{{ group['id'] }}">Invite</a>
                        {% else %}
                            - Invitation Sent
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        <p>Requests to join Group</p>
        <ul>
            {% for request in join_requests %}
                <li>{{ request.username }} - <a href="/groups/accept_request/{{ group['id'] }}/{{ request.username }}">Accept</a> | <a href="/groups/decline_request/{{ group['id'] }}/{{ request.username }}">Decline</a></li>
            {% endfor %}
        </ul>
    {% elif authorized_user not in group_members %}
        {% if user_has_requested %}
            <p>Request to join pending</p>
        {% elif user_is_invited %}
            <p><a href="/groups/accept_invite/{{ group['id'] }}">Accept Invitation</a></p>
        {% else %}
            {% if group["is_private"] %}
                <p><a href="/groups/request/{{ group['id'] }}">Request to Join Group</a></p>
            {% else %}
                <p><a href="/groups/join/{{ group['id'] }}">Join Group</a></p>
            {% endif %}
        {% endif %}
    {% endif %}

    <p>Friends in group</p>
    <ul>
        {% for friend in friends_list %}
            {% if friend in group_members %}
                <li><a href="/profile/{{ friend }}">{{ friend }} </a></li>
            {% endif %}
        {% endfor %}
    </ul>
</main>

{% endblock %}