{% extends "base.html" %}

{% block main_content %}

<main>
    <p>
        <table>
            <tr>
                <th colspan="2">Friends not in circle</th>
            </tr>
            {% for friend in friends %}
            <tr>
                {% if friend not in circle %}
                <td>{{ friend }}</td>
                    {% if friend not in invitations_sent %}
                        <td><a href="/circle/invite_to_circle/{{ friend }}">Invite</a></td>
                    {% else %}
                        <td>Invitation Sent</td>
                    {% endif %}
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        <table>
            <tr>
                <th colspan="2">My Circle</th>
            </tr>
            {% for user in circle %}
            <tr>
                <td>{{ user }}</td>
                <td><a href="/circle/remove_from_circle/{{ user }}">Remove</a></td>
            </tr>
            {% endfor %}
        </table>
        <table>
            <tr>
                <th colspan="3">Pending Invitations</th>
            </tr>
            {% for user in pending_invites %}
            <tr>
                <td>{{ user }}</td>
                <td><a href="/circle/accept/{{ user }}">Accept</a></td>
                <td><a href="/circle/decline/{{ user }}">Decline</a></td>
            </tr>
            {% endfor %}
        </table>
        <a href="/invites/all">All</a>
        <a href="/invites/follow_requests">Follow Requests</a>
        <a href="/invites/circle_invites">Circle Invites</a>
        <a href="/invites/group_invites">Group Invites</a>
        <a href="/invites/event_invites">Event Invites</a>
        <!-- Everything in the <a href=> elements below might change going forward, dont press! -->
        <ul>
            {% for invite in follow_requests %}
                <li>Follow Request from {{ invite }} - <a href="/accept_follow/{{ invite }}">Accept</a> | <a href="/decline_follow/{{ invite }}">Decline</a></li>
            {% endfor %}
            {% for invite in circle_invites %}
                <li>Circle Invite from {{ invite }} - <a href="/accept_circle_invite/{{ invite }}">Accept</a> | <a href="/decline_circle_invite/{{ invite }}">Decline</a></li>
            {% endfor %}
            {% for invite in group_invites %}
                <li>Group Invite to {{ invite }} - <a href="/accept_group_invite/{{ invite }}">Accept</a> | <a href="/decline_group_invite/{{ invite }}">Decline</a></li>
            {% endfor %}
            {% for invite in event_invites %}
                <li>Event Invite to {{ invite }} - <a href="/accept_event_invite/{{ invite }}">Accept</a> | <a href="/decline_event_invite/{{ invite }}">Decline</a></li>
            {% endfor %}
        </ul>
    </p>
</main>

{% endblock %}