{% extends "base.html" %}
<!-- Template for displaying a user's events, hosting, invited, public subsections -->
<!-- Page needs to include search bar -->
<!-- Each event should have options to delete/edit/invite (3 options)/show more information-->
{% block main_content %}   
<main id="main">
    <h1>Events</h1>
    
    <a href="/events/create_event">Create Event</a>
    
    <h2>Hosting</h2>
    <ul>
        {% for event in hosting_events %}
            <li><a href="{{ url_for('event_info', event_id=event.id) }}">{{ event.title }}</a></li>
        {% endfor %}
    </ul>
    <h2>Attending</h2>
    <ul>
        {% for event in attending_events %}
            <li><a href="{{ url_for('event_info', event_id=event.id) }}">{{ event.title }}</a></li>
        {% endfor %}
    </ul>
</main>
{% endblock %}